// .form { 
//   border: 1px solid lightblue;
//   border-radius: 4px;
//   color: dimgray;
//   min-height: 30px;
// }

%form { 
  border: 1px solid lightblue;
  border-radius: 4px;
  color: dimgray;
  min-height: 30px;
}