// 변수정의
// 전역 또는 지역변수로 정의 가능

$red: red;
$fs: 20px;
$space: 100px;
$mt100:$space;
$pt100:$space;
$black1e: #1E2530;
$white:#fff;
$green09: #09E27C;
$blue: #00D4EA;
$yellowff: #FFDC20;
$grayca:#CACACA;
$radius38: 38px;
$radius22: 22px;
$imgUrl: "../images/";

// $imgIco: "../images/ico/";
// $imgBu: "../images/bu/";
// $imgBg: "../images/bg/";




